.Signin__ {
  &root {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
  }
  &container {
    width: 500px;
  }
}
