.Button {
    background-color: #0076ff;
    color: #fff;
    margin: 10px 0px !important;
    width: 100%;
    border: 1px solid #025abf;
    height: 42px;
    .loader-span {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Arial";
      font-weight: 400;
      font-size: 12px;
      .icon {
        display: flex;
        align-items: center;
        // width: 100%;
        align-content: center;
      }
    }
  }
  